row {
  display: block;
  .row;
}

container {
  display: block;
  .container;
}

container-fluid {
  display: block;
  .container-fluid;
}

.base-column() {
  display: block;
  float: left;
  position: relative;
  min-height: 1px;
}

.spec-column(@index) {
  .base-column();

  padding-left: (@grid-gutter-width / 2);
  padding-right: (@grid-gutter-width / 2);
  width: percentage((@index / @grid-columns));
}

.spec-column-offset(@index) {
  margin-left: percentage((@index / @grid-columns));
}

column {
  .base-column();
  .spec-column(@grid-columns);
}

.generate-column-as-element(@resolution, @index) when (@index<=@grid-columns) {
  column[@{resolution}='@{index}'] {
    .spec-column(@index);
  }
  @offsetAttr: ~'@{resolution}-offset';
  column[@{offsetAttr}='@{index}'] {
    .spec-column-offset(@index);
  }
  .generate-column-as-element(@resolution, @index+1);
}

.generate-column-as-element(xs, 1);
@media screen and (min-width: @screen-sm-min) {
  .generate-column-as-element(sm, 1);
}

@media screen and (min-width: @screen-md-min) {
  .generate-column-as-element(md, 1);
}

@media screen and (min-width: @screen-lg-min) {
  .generate-column-as-element(lg, 1);
}